$home-background-image: "../assets/elliott-laurence--Bk7eODuNsU-unsplash.jpg";
$modal-black: rgba(32, 32, 32, 0.95);
$background-fade-black: rgba(32, 32, 32, 0.75);
$text-white: #fff;
$light-orange: #f3b72e;
$light-grey: #ececf2;
$lighter-grey: #f8f8ff;
